body{
	 background:linear-gradient(#0f0c29 , #302b63 , #24243e )center center fixed;
	 -webkit-background-size: cover;
      -moz-background-size: cover;
	  -o-background-size: cover;
	   background-size: cover;
	   opacity: 0.95;
	   font-family: 'ABeeZee', sans-serif;
}

::-webkit-scrollbar{
	width: 0px;
}

.gallery{
	width: 100%;
	height: auto;
	padding-top: 4%;
	padding-left: 11.8%;
	
}

img{
	margin:0.8%;
	border: 0.8px solid rgba(139,134,134,1.00);
}

img:hover{
	border: solid #009688 4px;
}

h4{
	color: rgba(244,13,16,1.00);
}


	
.navbar-inverse{
	border:none;
	font-size: 84%;
	letter-spacing: 1.9px;
}
.navbar-inverse .navbar-nav>li>a{
	color: aliceblue;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #009688;
	transform: scale(1.2,1.2);

}

.navbar-inverse .navbar-brand{
	color:#ffffff;
}

@media only screen and (max-width: 700px){
	.gallery{
		padding-top: 56px;
		padding-left: 57px;
	}
	img{
	margin:2%;
	}
	
}
