html,body{
	background:linear-gradient(
		rgba(24,24,24,0.6),rgba(24,24,24,0.6)),url("bg1.jpg")no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
	                 background-size: cover;
			 font-family: 'ABeeZee', sans-serif;
			 opacity: 0.95;
			 overflow: hidden;
	                 -ms-overflow-style: none;
	                 overflow: -moz-hidden-unscrollable;
}

::-webkit-scrollbar{
	width: 0px;
}



img:hover{
	transform: scale(1.2,1.2);
}

th{
	padding-top: 30px;
}

.namaskar{
	text-align: center;
	color: #FFFFFF;
	width: 100vw;
	height: 100vh;
	padding-top: 15%;
	vertical-align: middle;
}
.big{
	font-size: 600%;
}

.small{
	font-size: 200%;
}

input[type="button"]{
	background:linear-gradient(to right,#c0c0aa, #1cefff);
	width: 110px;
	height: 50px;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
	border: none;
	margin: 1.5%;
	color: black;
}


.gallery-content{
	margin-left: 7%;
	color: #FFFFFF;
	text-align: center;
        width: 100vw;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}

.font-hover:hover{
	font-size: 140%;
}

.navbar-inverse{
	border:none;
	font-size: 84%;
	letter-spacing: 1.9px;
}
.navbar-inverse .navbar-nav>li>a{
	color: aliceblue;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #009688;
	transform: scale(1.2,1.2);

}

.navbar-inverse .navbar-brand{
	color:#ffffff;
}



@media only screen and (max-width: 700px){
	th{
	display: block;
	
	}
	table{
		width: auto;
		height: auto;
	}

	.namaskar{
                padding-top: 43%;
		         vertical-align: middle;

	}
	.big{
		font-size: 540%;
	}
	
	.small{
		font-size: 150%;
	}
	
	.gallery-content{
		padding-top: 16%;
	}
	

}




